<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>crudproject</display-name>
 <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BusInsertController</display-name>
    <servlet-name>BusInsertController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusInsertController</servlet-name>
    <url-pattern>/BusInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusLoginController</display-name>
    <servlet-name>BusLoginController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusLoginController</servlet-name>
    <url-pattern>/BusLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusDeleteController</display-name>
    <servlet-name>BusDeleteController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusDeleteController</servlet-name>
    <url-pattern>/BusDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusFindAllController</display-name>
    <servlet-name>BusFindAllController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusFindAllController</servlet-name>
    <url-pattern>/BusFindAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusServletController</display-name>
    <servlet-name>BusServletController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusServletController</servlet-name>
    <url-pattern>/BusServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusUpdateController</display-name>
    <servlet-name>BusUpdateController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusUpdateController</servlet-name>
    <url-pattern>/BusUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusFindByIdController</display-name>
    <servlet-name>BusFindByIdController</servlet-name>
    <servlet-class>com.vidvaan.bus.controller.BusFindByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusFindByIdController</servlet-name>
    <url-pattern>/BusFindByIdController</url-pattern>
  </servlet-mapping>
</web-app>